section.news
    .container
        .news__wrap
            .news__item
                small.news__date 23.03.2003
                .news__image
                    img(src=require("./images/baner-img-2.jpg"), alt="")
                h4.news__title Dell Inspiron 3537 пришел за новой материнкой, а ушел с новым процессором 
                p.news__short-info Ноутбук Dell Inspiron 3537 поступил к нам после попыток ремонта в другом сервисном центре с формулировкой «требуется замена материнской платы». По факту:
                a(href="#" class="news__button") Подробней...

            .news__item
                small.news__date 23.03.2003
                .news__image
                    img(src=require("./images/baner-img-2.jpg"), alt="")
                h4.news__title Acer Aspire E1-571G постоянно выключается — крайне загадочный случай
                .news__short-info Аппарат поступил с жалобами на самопроизвольное выключение. При тестировании выяснилось, что ноутбук перестает заряжать аккумулятор и издает характерный звук отключения зарядного устройства.
                a(href="#" class="news__button") Подробней...

            .news__item
                small.news__date 23.03.2003
                h4.news__title Acer Extensa 2519 не включался, но заряжался
                .news__short-info Acer Extensa 2519 поступил без реакции на кнопку включения, при подключении зарядного устройства была индикация заряда АКБ.
                a(href="#" class="news__button") Подробней...

        .news__more-info-wrap 
            .news__more-info-text С этими и другими новостями, вы можете ознакомиться подробней в разделе 
            a(href="#" class="news__more-info-button") Новости