section.top-baner
    .container
        a(class="baner baner--left" href="#")
            .baner__info-block
                h2.baner__title Комплектующие
                .baner__sub-title 
                    | Магазин запчастей к ноутбукам
                    br
                    | с доставкой
                span.material-symbols-outlined.baner__button.baner__button--left start
        a(class="baner baner--right" href="#2")
            .baner__info-block
                h2.baner__title Ремонт ноутбуков
                .baner__sub-title 
                    | Специализированный сервисный центр
                    br
                    | в Волгограде и Волжском
                span.material-symbols-outlined.baner__button.baner__button--right start
    .arrow-down
        span
        span