@use '../scss/vars.scss';
@use "~sass-rem" as rem;

.top-baner {
    width: 100%;
    height: 90vh;
    position: relative;
    display: flex;
    // margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.top-baner .container {
    display: flex;
    justify-content: space-between;
}

.baner.baner--left,
.baner.baner--right,
.baner.baner--left::before,
.baner.baner--right::before {
    transition: 1000ms all ease-in-out;
}

.baner {
    flex-grow: 1;
    display: flex;
}

.baner.baner--left,
.baner.baner--right {
    width: 50%;
}

.baner.baner--left::before {
    background: linear-gradient(rgba($color: $bg-color, $alpha: .8), rgba($color: $bg-color, $alpha: .8)), url(./blocks/top_baner/images/baner-img-1.jpg);
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: -1;
}

.baner.baner--right::before {
    background: linear-gradient(rgba($color: $bg-color, $alpha: .8), rgba($color: $bg-color, $alpha: .8)), url(./blocks/top_baner/images/baner-img-2.jpg);
    background-size: cover;
    background-position: bottom bottom;
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: -1;
}

.baner__info-block {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    padding: 5vw;
}

.baner--left .baner__info-block {
    margin: auto 0 auto auto;
    align-items: flex-end;
}

.baner--left .baner__sub-title {
    text-align: right;
}

.baner--right .baner__info-block {
    margin: auto auto auto 0;
    align-items: flex-start;
}

.baner--right .baner__sub-title {
    text-align: left;
}

.baner__title {
    color: $white;
    text-transform: uppercase;
}

.baner__sub-title {
    color: $white;
    white-space: nowrap;
}

.baner__button {
    position: relative;
    color: $green;
    font-size: 2.5rem;
    transition: 1000ms font-size ease-in-out;
    margin-top: calc(rem.convert(28px) / 2);
}

.baner__button--left {
    transform: rotate(180deg);
}

// hover-left 

.hover-left .baner.baner--left {
    width: 55%;
}

.hover-left .baner.baner--right {
    width: 45%;
}

.hover-left .baner.baner--left::before {
    width: 55%;
}

.hover-left .baner.baner--right::before {
    width: 45%;
}

.hover-left .baner__button--left {
    font-size: 3.5rem;
}

// hover-right

.hover-right .baner.baner--left {
    width: 45%;
}

.hover-right .baner.baner--right {
    width: 55%;
}

.hover-right .baner.baner--left::before {
    width: 45%;
}

.hover-right .baner.baner--right::before {
    width: 55%;
}

.hover-right .baner__button--right {
    font-size: 3.5rem;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    margin: 30px;

    @media screen and (max-width: 767px) {
        position: relative;
    }
}

.arrow-down span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 2px solid $green;
    border-right: 2px solid $green;
    transform: rotate(45deg);
    margin: -15px;
    animation: arrow-down 3s infinite;
}

.arrow-down span:nth-child(2) {
    animation-delay: -0.1s;
}

@keyframes arrow-down {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(0px, 0px);
    }
}

@media screen and (max-width:767px) {

    .top-baner {
        padding-top: 10vh;
        height: auto;
    }

    .top-baner .container {
        flex-direction: column;
    }

    .baner.baner--left,
    .baner.baner--right {
        width: 100%;
        border-radius: 4px;
    }

    .baner.baner--left::before,
    .baner.baner--right::before {
        display: none;
    }

    .baner.baner--left {
        background: linear-gradient(rgba($color: $bg-color, $alpha: .8), rgba($color: $bg-color, $alpha: .8)), url(./blocks/top_baner/images/baner-img-1.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 1.563rem;
    }

    .baner.baner--right {
        background: linear-gradient(rgba($color: $bg-color, $alpha: .8), rgba($color: $bg-color, $alpha: .8)), url(./blocks/top_baner/images/baner-img-2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}