block variable

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        
    body
        include ../blocks/top_line/top_line.pug
        include ../blocks/header/header.pug
        main.main
            block main
        include ../blocks/footer/footer.pug