@use "~sass-rem" as rem;

// colors

$bg-color: rgb(16, 19, 33);

$green: rgb(122, 182, 2);
$green80: rgba(122, 182, 2, 0.8);

$gray: rgb(101, 121, 155);
$gray80: rgba(101, 121, 155, 0.8);

$white: rgb(215, 228, 235);
$white80: rgba(215, 228, 235, 0.8);

$light-green: rgb(1, 231, 191);
$light-green80: rgba(1, 231, 191, 0.8);

// html { font-size: 16px; } if (min-width: 1200px) {font-size: 20px;}
// h1 { font-size: 33px; }
// h2 { font-size: 28px; }
// h3 { font-size: 23px; }
// h4 { font-size: 19px; }
// small { font-size: 13px; }

html {
    font-size: 100%;
    /*16px*/
}

h1 {
    font-size: rem.convert(33px);
    margin-bottom: rem.convert(33px);
    text-align: center;
}

h2 {
    font-size: rem.convert(28px);
    margin-bottom: calc(rem.convert(28px) / 2);
    margin-top: rem.convert(28px);
}

h3 {
    font-size: rem.convert(23px);
    margin-bottom: calc(rem.convert(28px) / 2);
    margin-top: rem.convert(28px);
}

h4 {
    font-size: rem.convert(19px);
    margin-bottom: calc(rem.convert(28px) / 2);
    margin-top: rem.convert(28px);
}

small,
small>* {
    display: block;
    font-size: rem.convert(13px) !important;
    margin-bottom: calc(rem.convert(28px) / 2);
}

p {
    margin-bottom: calc(rem.convert(28px) / 2);
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 125%;
        /*20px*/
    }
}

// сетка

@media screen and (max-width: 1999px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}