@use '../scss/vars.scss';
@use "~sass-rem" as rem;

.main_page_price {
    padding: rem.convert(100px) 0;
    background: linear-gradient(rgba($color: $bg-color, $alpha: .9), rgba($color: $bg-color, $alpha: .9)), url(./blocks/main_page_price/images/bg-img.png);
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}

.main_page_price h2 {
    margin-top: 0;
}

.price-table {
    display: flex;
    flex-direction: column;
}

.price-table__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.625rem;
    border-radius: 4px 4px 0 0;
    border-left: 1px solid lighten($bg-color, 20%);
    border-top: 1px solid lighten($bg-color, 20%);
    border-right: 1px solid lighten($bg-color, 20%);
}

.price-table__service {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.625rem;
    color: $white;
    border-bottom: 1px solid lighten($bg-color, 20%);
}

.price-table__service-name a {
    color: $white;
}

.price-table__service-price:after {
    display: block;
    content: "\20BD";
    color: $green;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.price-table__service-price {
    position: relative;
    padding-right: 20px;
}

.price__button {
    display: block;
    color: $green;
    margin-top: calc(rem.convert(28px) / 2);
}

.price__more-info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem.convert(75px);
}

.price__more-info-button {
    display: block;
    border-radius: 4px;
    border: 2px solid $green;
    color: $white;
    padding: rem.convert(10px) rem.convert(25px);
    margin-top: rem.convert(28px);
    text-align: center;
}