section.main_page_price
    .container 
        h2 Цены на услуги
        .price-table
            .price-table__header.dp03
                .price-table__header-title Виды работ
                .price-table__header-title Цена

            .price-table__service
                .price-table__service-name
                    a(href="/uslugi/13-cleaning-notebook" target="_blank") Чистка системы охлаждения с заменой термопасты или доработкой системы охлаждения
                .price-table__service-price 300-1500
            .price-table__service
                .price-table__service-name
                    a(href="/uslugi/13-cleaning-notebook" target="_blank") Чистка системы охлаждения с заменой термопасты или доработкой системы охлаждения
                .price-table__service-price 300-1500
            .price-table__service
                .price-table__service-name
                    a(href="/uslugi/13-cleaning-notebook" target="_blank") Чистка системы охлаждения с заменой термопасты или доработкой системы охлаждения
                .price-table__service-price 300-1500
            .price-table__service
                .price-table__service-name
                    a(href="/uslugi/13-cleaning-notebook" target="_blank") Чистка системы охлаждения с заменой термопасты или доработкой системы охлаждения
                .price-table__service-price 300-1500
            .price-table__service
                .price-table__service-name
                    a(href="/uslugi/13-cleaning-notebook" target="_blank") Чистка системы охлаждения с заменой термопасты или доработкой системы охлаждения
                .price-table__service-price 300-1500
        .price__more-info-wrap 
            .price__more-info-text С этими и другими новостями, вы можете ознакомиться подробней в разделе 
            a(href="#" class="price__more-info-button") Цены на услуги