section.articles
    .container
        .articles__wrap
            .articles__item.dp01
                .articles__image
                    img(src=require("./images/baner-img-1.jpg"), alt="")
                h3.articles__title Dell Inspiron 3537 пришел за новой материнкой, а ушел с новым процессором 
                p.articles__short-info Ноутбук Dell Inspiron 3537 поступил к нам после попыток ремонта в другом сервисном центре с формулировкой «требуется замена материнской платы». По факту:
                a(href="#" class="articles__button dp16") Подробней