extends ../templates/main-template.pug

block variable
    - var title = 'Home page';

block main
    include ../blocks/top_baner/top_baner.pug
    include ../blocks/news/news.pug
    include ../blocks/main_page_price/main_page_price.pug
    include ../blocks/articles/articles.pug
    .container
        h1 Заголовок h1
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea non officiis officia, vel fugit dolorum fuga explicabo, quas deleniti laboriosam, soluta quibusdam neque hic odio. Fugiat magni magnam veniam eos beatae, non, at perspiciatis harum repellat maxime, aspernatur nisi. Hic dicta ex odit est ad iure modi quod blanditiis?
        h2 Заголовок h2
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea non officiis officia, vel fugit dolorum fuga explicabo, quas deleniti laboriosam, soluta quibusdam neque hic odio. Fugiat magni magnam veniam eos beatae, non, at perspiciatis harum repellat maxime, aspernatur nisi. Hic dicta ex odit est ad iure modi quod blanditiis?
        h3 Заголовок h3
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea non officiis officia, vel fugit dolorum fuga explicabo, quas deleniti laboriosam, soluta quibusdam neque hic odio. Fugiat magni magnam veniam eos beatae, non, at perspiciatis harum repellat maxime, aspernatur nisi. Hic dicta ex odit est ad iure modi quod blanditiis?
        h4 Заголовок h4
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea non officiis officia, vel fugit dolorum fuga explicabo, quas deleniti laboriosam, soluta quibusdam neque hic odio. Fugiat magni magnam veniam eos beatae, non, at perspiciatis harum repellat maxime, aspernatur nisi. Hic dicta ex odit est ad iure modi quod blanditiis?
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea non officiis officia, vel fugit dolorum fuga explicabo, quas deleniti laboriosam, soluta quibusdam neque hic odio. Fugiat magni magnam veniam eos beatae, non, at perspiciatis harum repellat maxime, aspernatur nisi. Hic dicta ex odit est ad iure modi quod blanditiis?
        small small small small small small small
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ea non officiis officia, vel fugit dolorum fuga explicabo, quas deleniti laboriosam, soluta quibusdam neque hic odio. Fugiat magni magnam veniam eos beatae, non, at perspiciatis harum repellat maxime, aspernatur nisi. Hic dicta ex odit est ad iure modi quod blanditiis?