@import '../scss/vars.scss';

.logo {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: $white;
    align-items: center;
    margin: 0.625rem 0;
}

.logo__img {
    width: 3.2rem;
    margin-right: 0.5rem;
}

.logo__text-block {
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: "Source Serif Pro", serif;
    color: $white;
}