nav(class="nav main-menu")
    button.nav__btn
        span.nav__icon

    .nav__wrap
        ul.nav__list
            li.nav__list-item
                a(href="#" class="nav__link") Главная       
            li.nav__list-item
                a(href="#" class="nav__link") Ремонт
            li.nav__list-item
                a(href="#" class="nav__link") Комплектующие
            li.nav__list-item
                a(href="#" class="nav__link") Статьи
            li.nav__list-item
                a(href="#" class="nav__link") Новости
            li.nav__list-item
                a(href="#" class="nav__link") Схемы