@import '../scss/vars.scss';

.header {
    position: absolute;
    width: 100%;
    transition: .3s all ease;
    z-index: 999;
}

.header.sticky {
    position: fixed;
    top: 0;
    background-color: rgba($color: $bg-color, $alpha: .9);
    backdrop-filter: blur(6px);
}

.header .container {
    display: flex;
    justify-content: space-between;
}