@use '../scss/vars.scss';
@use "~sass-rem" as rem;

.top-line {
    background-color: $bg-color;
    z-index: 999;
    width: 100%;
    padding: 0.4rem 0;
    line-height: rem.convert(13px);
}

.top-line .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-block {
    margin: 0;
    line-height: 0;
}

.icon-block a {
    display: inline-block;
    color: $white;
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
}

.icon-block a:last-child {
    margin-right: 0;
}

.date {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.date__row-wrap {
    display: flex;
    margin: 0;
}

.date__row {
    display: flex;
    justify-content: flex-start;
    margin-right: 20px;
}

.date__row :nth-child(1) {
    margin-right: 5px;
}