section.top-line 
    .container 
        .top-line__left-block 
            small.date 
                .date__row-wrap
                    .date__row
                        span.alternative-text--gray вт-пт:
                        span 10:00 – 19:00
                    .date__row
                        span.alternative-text--gray сб:
                        span 10:00 – 15:00
                    .date__row
                        span.alternative-text--gray вс,пн:
                        span выходной
        .top-line__right-block 
            .icon-block 
                a(href="tel:+1234567890" class="phone material-icons") phone_in_talk
                a(href="/" class="material-icons") account_circle
                a(href="/" class="material-icons") shopping_cart